<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Dusk Eyes</title>
  <meta name="description" content="description here">
  <meta name="keywords" content="pendulums,decor,crystals">
  <!-- <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon"> -->
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Overpass+Mono:300,400,600" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://use.typekit.net/jfn0nem.css"> -->


  <link rel="stylesheet" type="text/css" href="assets/css/app.css">

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>

  <body>
    <div id="app">
      <div class="header">
        <div class="header-logo" v-on:click="changeView('landing')"><img src="assets/img/logos/logo-w-icon.svg"></div>

        <nav class="header-nav">
          <div class="header-nav__toggle" v-on:click="navMenu = !navMenu">
            <img src="assets/img/menu-ash.png">
          </div>

          <ul class="header-nav__list" v-show="navMenu">
            <li class="header-nav__link" v-on:click="changeView(shop)"><a href="/shop.html">shop</a></li>
            <!-- <li class="header-nav__link" v-on:click="changeView('')"><a href="/about.html">about</a></li> -->
            <li class="header-nav__link" v-on:click="changeView('learn')"><a href="/learn.html">learn</a></li>
            <li class="header-nav__link" v-on:click="changeView('contact')"><a href="/contact.html">contact</a></li>
          </ul>
        </nav>
      </div>

      <div class="landing page" v-if="view === 'landing' || view === 'shop'">
        <div class="landing__tagline landing__tagline--pendulums">
          handmade, metal & stone pendulums
        </div>
        <div class="landing__img-wrapper--pendulums">
          <img class="landing__img landing__img--pendulums" />
        </div>
        <div class="landing__img-wrapper--moon">
          <img class="landing__img landing__img--moon" />
        </div>
        <div class="landing__tagline landing__tagline--moon">
          cleansed by the smoke of sage, charged by the moonlight
        </div>
      </div>

      <!-- Products -->
      <div class="container" v-if="view === 'main' ">
        <div id='collection-component-445cf7fa757'></div>
      </div>

      <div class="page" v-if="view === 'learn">
        <div class="swing-types">
          <div class="swing-type"></div>
          <div class="swing-type"></div>
          <div class="swing-type"></div>
          <div class="swing-type"></div>
          <div class="swing-type"></div>
          <div class="swing-type"></div>
          <div class="swing-type"></div>
        </div>
      </div>

      <div class="page" v-if="view === 'contact'">
        contact
      </div>

    </div>

    <script>
      var app = new Vue({
        el: '#app',
        data: {
          message: 'Hello Vue!',
          navMenu: false,
          view: 'landing',
        },

        methods: {
          changeView(view) {
            this.view = this.view;
          }
        }
      })
    </script>

    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script src="http://sdks.shopifycdn.com/js-buy-sdk/v0/latest/shopify-buy.umd.polyfilled.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>